body {
	background: linear-gradient(to right, turquoise , blue); /* Standard syntax */
  	font: 'Montserrat', sans-serif;
}

h1 {
  	font-size: 3rem;
  	color: white;
	text-align: center;
	text-transform: uppercase;
}

.button {
    margin: 10px;
    height: 30px;
}

.color1 {
    height: 30px;
}

.color2 {
    height: 30px;
}
